.sprint-details *{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.sprint-details {
    margin: 20px 20px 20px 20px;
}

.sprint-table {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.sprint-manipulator {
    position: fixed;
    top: 20px;
    left: 1500px;
}